#contact {
    background-color: black;
    padding: auto;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
    color: white;
    font-size: 1.2em;




    &__info {
        margin-left: 60px;
        text-align: left;
        padding: 0;
    }

    &__social {
        background-color: red($color: #ff5050);
        margin-left: 60px;

        &-item {
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        &-text {
            margin-top: 4px;
        }
    }



}